TURSO_DATABASE_URL=file:local.db
TURSO_AUTH_TOKEN=
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
JWT_SECRET=supersecret_for_local_dev
# The hash for 'password123'
ADMIN_PASSWORD_HASH=$2b$12$T5oQhnb/D1NsYmY29tLB3OeipoDA1Fs5T9aiFYt8Ybxfd.iK1XS9a
